In [1]:
import pandas as pd

In [4]:
dataset = pd.read_csv("CKD.csv")
dataset

,age,bp,sg,al,su,rbc,pc,pcc,ba,bgr,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,2.000000,76.459948,c,3,0,normal,abnormal,notpresent,notpresent,148.112676,...,38.868902,8408.191126,4.705597,no,no,no,yes,yes,no,yes
1,3.000000,76.459948,c,2,0,normal,normal,notpresent,notpresent,148.112676,...,34.000000,12300.000000,4.705597,no,no,no,yes,poor,no,yes
2,4.000000,76.459948,a,1,0,normal,normal,notpresent,notpresent,99.000000,...,34.000000,8408.191126,4.705597,no,no,no,yes,poor,no,yes
3,5.000000,76.459948,d,1,0,normal,normal,notpresent,notpresent,148.112676,...,38.868902,8408.191126,4.705597,no,no,no,yes,poor,yes,yes
4,5.000000,50.000000,c,0,0,normal,normal,notpresent,notpresent,148.112676,...,36.000000,12400.000000,4.705597,no,no,no,yes,poor,no,yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
394,51.492308,70.000000,a,0,0,normal,normal,notpresent,notpresent,219.000000,...,37.000000,9800.000000,4.400000,no,no,no,yes,poor,no,yes
395,51.492308,70.000000,c,0,2,normal,normal,notpresent,notpresent,220.000000,...,27.000000,8408.191126,4.705597,yes,yes,no,yes,poor,yes,yes
396,51.492308,70.000000,c,3,0,normal,normal,notpresent,notpresent,110.000000,...,26.000000,9200.000000,3.400000,yes,yes,no,poor,poor,no,yes
397,51.492308,90.000000,a,0,0,normal,normal,notpresent,notpresent,207.000000,...,38.868902,8408.191126,4.705597,yes,yes,no,yes,poor,yes,yes
398,51.492308,80.000000,a,0,0,normal,normal,notpresent,notpresent,100.000000,...,53.000000,8500.000000,4.900000,no,no,no,yes,poor,no,no

In [5]:
dataset = pd.get_dummies(dataset,drop_first=True)
dataset

,age,bp,al,su,bgr,bu,sc,sod,pot,hrmo,...,pc_normal,pcc_present,ba_present,htn_yes,dm_yes,cad_yes,appet_yes,pe_yes,ane_yes,classification_yes
0,2.000000,76.459948,3,0,148.112676,57.482105,3.077356,137.528754,4.627244,12.518156,...,0,0,0,0,0,0,1,1,0,1
1,3.000000,76.459948,2,0,148.112676,22.000000,0.700000,137.528754,4.627244,10.700000,...,1,0,0,0,0,0,1,0,0,1
2,4.000000,76.459948,1,0,99.000000,23.000000,0.600000,138.000000,4.400000,12.000000,...,1,0,0,0,0,0,1,0,0,1
3,5.000000,76.459948,1,0,148.112676,16.000000,0.700000,138.000000,3.200000,8.100000,...,1,0,0,0,0,0,1,0,1,1
4,5.000000,50.000000,0,0,148.112676,25.000000,0.600000,137.528754,4.627244,11.800000,...,1,0,0,0,0,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
394,51.492308,70.000000,0,0,219.000000,36.000000,1.300000,139.000000,3.700000,12.500000,...,1,0,0,0,0,0,1,0,0,1
395,51.492308,70.000000,0,2,220.000000,68.000000,2.800000,137.528754,4.627244,8.700000,...,1,0,0,1,1,0,1,0,1,1
396,51.492308,70.000000,3,0,110.000000,115.000000,6.000000,134.000000,2.700000,9.100000,...,1,0,0,1,1,0,0,0,0,1
397,51.492308,90.000000,0,0,207.000000,80.000000,6.800000,142.000000,5.500000,8.500000,...,1,0,0,1,1,0,1,0,1,1
398,51.492308,80.000000,0,0,100.000000,49.000000,1.000000,140.000000,5.000000,16.300000,...,1,0,0,0,0,0,1,0,0,0

In [6]:
dataset.columns

Index(['age', 'bp', 'al', 'su', 'bgr', 'bu', 'sc', 'sod', 'pot', 'hrmo', 'pcv',
       'wc', 'rc', 'sg_b', 'sg_c', 'sg_d', 'sg_e', 'rbc_normal', 'pc_normal',
       'pcc_present', 'ba_present', 'htn_yes', 'dm_yes', 'cad_yes',
       'appet_yes', 'pe_yes', 'ane_yes', 'classification_yes'],
      dtype='object')

In [8]:
I = dataset[['age', 'bp', 'al', 'su', 'bgr', 'bu', 'sc', 'sod', 'pot', 'hrmo', 'pcv',
       'wc', 'rc', 'sg_b', 'sg_c', 'sg_d', 'sg_e', 'rbc_normal', 'pc_normal',
       'pcc_present', 'ba_present', 'htn_yes', 'dm_yes', 'cad_yes',
       'appet_yes', 'pe_yes', 'ane_yes']]
D = dataset[['classification_yes']]

In [9]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(I,D,train_size=0.70,random_state=0)

In [18]:
from sklearn.model_selection import GridSearchCV
from sklearn.neighbors import KNeighborsClassifier

grid_param = {'weights' : ['uniform', 'distance'],'algorithm' : ['auto', 'ball_tree', 'kd_tree', 'brute']}
    
             
grid = GridSearchCV(KNeighborsClassifier(),grid_param,verbose=3,refit=True, n_jobs=-1, scoring='f1_weighted')

grid.fit(x_train,y_train)

Fitting 5 folds for each of 8 candidates, totalling 40 fits

C:\Users\YAS\Anaconda3\lib\site-packages\sklearn\neighbors\_classification.py:198: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)

GridSearchCV(estimator=KNeighborsClassifier(), n_jobs=-1,
             param_grid={'algorithm': ['auto', 'ball_tree', 'kd_tree', 'brute'],
                         'weights': ['uniform', 'distance']},
             scoring='f1_weighted', verbose=3)

In [19]:
y_pred = grid.predict(x_test)

C:\Users\YAS\Anaconda3\lib\site-packages\sklearn\base.py:442: UserWarning: X does not have valid feature names, but KNeighborsClassifier was fitted with feature names
  "X does not have valid feature names, but"

In [20]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test,y_pred)

In [21]:
from sklearn.metrics import classification_report
class_report = classification_report(y_test,y_pred)

In [22]:
from sklearn.metrics import f1_score
f1 = f1_score(y_test,y_pred,average='weighted')

In [23]:
from sklearn.metrics import roc_auc_score
roc_auc_score(y_test,grid.predict_proba(x_test)[:,1])

C:\Users\YAS\Anaconda3\lib\site-packages\sklearn\base.py:442: UserWarning: X does not have valid feature names, but KNeighborsClassifier was fitted with feature names
  "X does not have valid feature names, but"

0.8542222222222222

In [31]:
result = grid.cv_results_
print ("The best parameter {} and its score {}".format(grid.best_params_,grid.best_score_))
cm

The best parameter {'algorithm': 'auto', 'weights': 'distance'} and its score 0.7241187572628117

array([[42,  3],
       [25, 50]], dtype=int64)

In [27]:
print(class_report)

              precision    recall  f1-score   support

           0       0.63      0.93      0.75        45
           1       0.94      0.67      0.78        75

    accuracy                           0.77       120
   macro avg       0.79      0.80      0.77       120
weighted avg       0.82      0.77      0.77       120

In [30]:
table = pd.DataFrame.from_dict(result)
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_algorithm,param_weights,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.016983,0.004876,0.015745,0.001147,auto,uniform,"{'algorithm': 'auto', 'weights': 'uniform'}",0.664428,0.666100,0.683548,0.718750,0.728409,0.692247,0.026621,5
1,0.015155,0.000531,0.009106,0.001651,auto,distance,"{'algorithm': 'auto', 'weights': 'distance'}",0.664428,0.683594,0.734970,0.771542,0.766061,0.724119,0.043200,1
2,0.015192,0.001062,0.014679,0.002930,ball_tree,uniform,"{'algorithm': 'ball_tree', 'weights': 'uniform'}",0.664428,0.666100,0.683548,0.718750,0.728409,0.692247,0.026621,5
3,0.014376,0.001546,0.009644,0.001332,ball_tree,distance,"{'algorithm': 'ball_tree', 'weights': 'distance'}",0.664428,0.683594,0.734970,0.771542,0.766061,0.724119,0.043200,1
4,0.012756,0.001293,0.010390,0.002645,kd_tree,uniform,"{'algorithm': 'kd_tree', 'weights': 'uniform'}",0.664428,0.666100,0.683548,0.718750,0.728409,0.692247,0.026621,5
5,0.011975,0.000733,0.008187,0.002439,kd_tree,distance,"{'algorithm': 'kd_tree', 'weights': 'distance'}",0.664428,0.683594,0.734970,0.771542,0.766061,0.724119,0.043200,1
6,0.011723,0.001847,0.009922,0.001637,brute,uniform,"{'algorithm': 'brute', 'weights': 'uniform'}",0.664428,0.666100,0.683548,0.718750,0.728409,0.692247,0.026621,5
7,0.010765,0.001360,0.006891,0.001013,brute,distance,"{'algorithm': 'brute', 'weights': 'distance'}",0.664428,0.683594,0.734970,0.771542,0.766061,0.724119,0.043200,1