In [1]:
import pandas as pd

In [2]:
dataset = pd.read_csv("CKD.csv")
dataset

,age,bp,sg,al,su,rbc,pc,pcc,ba,bgr,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,2.000000,76.459948,c,3,0,normal,abnormal,notpresent,notpresent,148.112676,...,38.868902,8408.191126,4.705597,no,no,no,yes,yes,no,yes
1,3.000000,76.459948,c,2,0,normal,normal,notpresent,notpresent,148.112676,...,34.000000,12300.000000,4.705597,no,no,no,yes,poor,no,yes
2,4.000000,76.459948,a,1,0,normal,normal,notpresent,notpresent,99.000000,...,34.000000,8408.191126,4.705597,no,no,no,yes,poor,no,yes
3,5.000000,76.459948,d,1,0,normal,normal,notpresent,notpresent,148.112676,...,38.868902,8408.191126,4.705597,no,no,no,yes,poor,yes,yes
4,5.000000,50.000000,c,0,0,normal,normal,notpresent,notpresent,148.112676,...,36.000000,12400.000000,4.705597,no,no,no,yes,poor,no,yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
394,51.492308,70.000000,a,0,0,normal,normal,notpresent,notpresent,219.000000,...,37.000000,9800.000000,4.400000,no,no,no,yes,poor,no,yes
395,51.492308,70.000000,c,0,2,normal,normal,notpresent,notpresent,220.000000,...,27.000000,8408.191126,4.705597,yes,yes,no,yes,poor,yes,yes
396,51.492308,70.000000,c,3,0,normal,normal,notpresent,notpresent,110.000000,...,26.000000,9200.000000,3.400000,yes,yes,no,poor,poor,no,yes
397,51.492308,90.000000,a,0,0,normal,normal,notpresent,notpresent,207.000000,...,38.868902,8408.191126,4.705597,yes,yes,no,yes,poor,yes,yes
398,51.492308,80.000000,a,0,0,normal,normal,notpresent,notpresent,100.000000,...,53.000000,8500.000000,4.900000,no,no,no,yes,poor,no,no

In [3]:
dataset.shape

(399, 25)

In [4]:
dataset = pd.get_dummies(dataset,drop_first=True)
dataset

,age,bp,al,su,bgr,bu,sc,sod,pot,hrmo,...,pc_normal,pcc_present,ba_present,htn_yes,dm_yes,cad_yes,appet_yes,pe_yes,ane_yes,classification_yes
0,2.000000,76.459948,3,0,148.112676,57.482105,3.077356,137.528754,4.627244,12.518156,...,0,0,0,0,0,0,1,1,0,1
1,3.000000,76.459948,2,0,148.112676,22.000000,0.700000,137.528754,4.627244,10.700000,...,1,0,0,0,0,0,1,0,0,1
2,4.000000,76.459948,1,0,99.000000,23.000000,0.600000,138.000000,4.400000,12.000000,...,1,0,0,0,0,0,1,0,0,1
3,5.000000,76.459948,1,0,148.112676,16.000000,0.700000,138.000000,3.200000,8.100000,...,1,0,0,0,0,0,1,0,1,1
4,5.000000,50.000000,0,0,148.112676,25.000000,0.600000,137.528754,4.627244,11.800000,...,1,0,0,0,0,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
394,51.492308,70.000000,0,0,219.000000,36.000000,1.300000,139.000000,3.700000,12.500000,...,1,0,0,0,0,0,1,0,0,1
395,51.492308,70.000000,0,2,220.000000,68.000000,2.800000,137.528754,4.627244,8.700000,...,1,0,0,1,1,0,1,0,1,1
396,51.492308,70.000000,3,0,110.000000,115.000000,6.000000,134.000000,2.700000,9.100000,...,1,0,0,1,1,0,0,0,0,1
397,51.492308,90.000000,0,0,207.000000,80.000000,6.800000,142.000000,5.500000,8.500000,...,1,0,0,1,1,0,1,0,1,1
398,51.492308,80.000000,0,0,100.000000,49.000000,1.000000,140.000000,5.000000,16.300000,...,1,0,0,0,0,0,1,0,0,0

In [68]:
dataset.shape

(399, 28)

In [9]:
I = dataset [['age', 'bp', 'al', 'su', 'bgr', 'bu', 'sc', 'sod', 'pot', 'hrmo', 'pcv',
       'wc', 'rc', 'sg_b', 'sg_c', 'sg_d', 'sg_e', 'rbc_normal', 'pc_normal',
       'pcc_present', 'ba_present', 'htn_yes', 'dm_yes', 'cad_yes',
       'appet_yes', 'pe_yes', 'ane_yes']]
D = dataset [['classification_yes']]

In [69]:
I.shape

(399, 27)

In [10]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(I,D,test_size=1/3,random_state=0)

In [16]:
from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import RandomForestClassifier

grid_param = {'criterion' : ['gini', 'entropy', 'log_loss'], 
              'max_features' : ['sqrt', 'log2', None]}

grid = GridSearchCV(RandomForestClassifier(), grid_param,verbose=3,n_jobs=-1,scoring='f1_weighted')
grid.fit(x_train,y_train)

Fitting 5 folds for each of 9 candidates, totalling 45 fits

C:\Users\YAS\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:372: FitFailedWarning:
15 fits failed out of a total of 45.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
15 fits failed with the following error:
Traceback (most recent call last):
  File "C:\Users\YAS\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py", line 681, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\YAS\Anaconda3\lib\site-packages\sklearn\ensemble\_forest.py", line 458, in fit
    for i, t in enumerate(trees)
  File "C:\Users\YAS\Anaconda3\lib\site-packages\joblib\parallel.py", line 921, in __call__
    if self.dispatch_one_batch(iterator):
  File "C:\Users\YAS\Anaconda3\lib\site-packages\joblib\parallel.py", line 759, in dispatch_one_batch
    self._dispatch(tasks)
  File "C:\Users\YAS\Anaconda3\lib\site-packages\joblib\parallel.py", line 716, in _dispatch
    job = self._backend.apply_async(batch, callback=cb)
  File "C:\Users\YAS\Anaconda3\lib\site-packages\joblib\_parallel_backends.py", line 182, in apply_async
    result = ImmediateResult(func)
  File "C:\Users\YAS\Anaconda3\lib\site-packages\joblib\_parallel_backends.py", line 549, in __init__
    self.results = batch()
  File "C:\Users\YAS\Anaconda3\lib\site-packages\joblib\parallel.py", line 225, in __call__
    for func, args, kwargs in self.items]
  File "C:\Users\YAS\Anaconda3\lib\site-packages\joblib\parallel.py", line 225, in <listcomp>
    for func, args, kwargs in self.items]
  File "C:\Users\YAS\Anaconda3\lib\site-packages\sklearn\utils\fixes.py", line 209, in __call__
    return self.function(*args, **kwargs)
  File "C:\Users\YAS\Anaconda3\lib\site-packages\sklearn\ensemble\_forest.py", line 184, in _parallel_build_trees
    tree.fit(X, y, sample_weight=curr_sample_weight, check_input=False)
  File "C:\Users\YAS\Anaconda3\lib\site-packages\sklearn\tree\_classes.py", line 942, in fit
    X_idx_sorted=X_idx_sorted,
  File "C:\Users\YAS\Anaconda3\lib\site-packages\sklearn\tree\_classes.py", line 352, in fit
    criterion = CRITERIA_CLF[self.criterion](
KeyError: 'log_loss'

  warnings.warn(some_fits_failed_message, FitFailedWarning)
C:\Users\YAS\Anaconda3\lib\site-packages\sklearn\model_selection\_search.py:972: UserWarning: One or more of the test scores are non-finite: [0.96960687 0.98480061 0.94318411 0.97715404 0.98480061 0.94675814
        nan        nan        nan]
  category=UserWarning,
C:\Users\YAS\Anaconda3\lib\site-packages\sklearn\model_selection\_search.py:926: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  self.best_estimator_.fit(X, y, **fit_params)

GridSearchCV(estimator=RandomForestClassifier(), n_jobs=-1,
             param_grid={'criterion': ['gini', 'entropy', 'log_loss'],
                         'max_features': ['sqrt', 'log2', None]},
             scoring='f1_weighted', verbose=3)

In [17]:
y_pred = grid.predict(x_test)

In [18]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test,y_pred)

In [19]:
from sklearn.metrics import classification_report
class_report = classification_report(y_test,y_pred)

In [20]:
from sklearn.metrics import f1_score
f1 = f1_score(y_test,y_pred,average='weighted')

In [37]:
re = grid.cv_results_
print ("Best param {} and best score {}".format(grid.best_params_,grid.best_score_))

Best param {'criterion': 'gini', 'max_features': 'log2'} and best score 0.9848006070227224

In [25]:
from sklearn.metrics import roc_auc_score
roc_auc_score(y_test,grid.predict_proba(x_test)[:,1])

0.9997608799617408

In [26]:
cm

array([[51,  0],
       [ 1, 81]], dtype=int64)

In [27]:
print(class_report)

              precision    recall  f1-score   support

           0       0.98      1.00      0.99        51
           1       1.00      0.99      0.99        82

    accuracy                           0.99       133
   macro avg       0.99      0.99      0.99       133
weighted avg       0.99      0.99      0.99       133

In [24]:
x_test.shape

(133, 27)

In [28]:
table = pd.DataFrame.from_dict(re)
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_criterion,param_max_features,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.188223,0.002839,0.028337,0.004437,gini,sqrt,"{'criterion': 'gini', 'max_features': 'sqrt'}",1.000000,0.942166,0.962573,0.962264,0.981031,0.969607,0.019548,4
1,0.192788,0.006174,0.027762,0.007655,gini,log2,"{'criterion': 'gini', 'max_features': 'log2'}",1.000000,0.961755,0.981217,0.981031,1.000000,0.984801,0.014284,1
2,0.243097,0.005743,0.026706,0.001241,gini,None,"{'criterion': 'gini', 'max_features': None}",0.944707,0.942166,0.925524,0.922492,0.981031,0.943184,0.020860,6
3,0.193576,0.002061,0.026783,0.003930,entropy,sqrt,"{'criterion': 'entropy', 'max_features': 'sqrt'}",1.000000,0.942166,0.962573,0.981031,1.000000,0.977154,0.022341,3
4,0.192217,0.004671,0.027311,0.005088,entropy,log2,"{'criterion': 'entropy', 'max_features': 'log2'}",1.000000,0.961755,0.981217,0.981031,1.000000,0.984801,0.014284,1
5,0.245418,0.004837,0.025467,0.002833,entropy,None,"{'criterion': 'entropy', 'max_features': None}",0.963284,0.942166,0.944023,0.922492,0.961826,0.946758,0.014950,5
6,0.095562,0.006127,0.000000,0.000000,log_loss,sqrt,"{'criterion': 'log_loss', 'max_features': 'sqrt'}",NaN,NaN,NaN,NaN,NaN,NaN,NaN,7
7,0.095510,0.004719,0.000000,0.000000,log_loss,log2,"{'criterion': 'log_loss', 'max_features': 'log2'}",NaN,NaN,NaN,NaN,NaN,NaN,NaN,8
8,0.080250,0.018587,0.000000,0.000000,log_loss,None,"{'criterion': 'log_loss', 'max_features': None}",NaN,NaN,NaN,NaN,NaN,NaN,NaN,9

In [83]:
age = float(input("Enter age of patient:"))
bp = float(input("Enter bp of patient:"))
al = float(input("Enter al of patient:"))
su = float(input("Enter su of patient:"))
bgr = float(input("Enter bgr of patient:"))
bu  = float(input("Enter bu of patient:"))
sc =  float(input("Enter sc of patient:"))
sod =  float(input("Enter sod of patient:"))
pot =  float(input("Enter pot of patient:"))
hrmo =  float(input("Enter hrmo of patient:"))
pcv =  float(input("Enter pcv of patient:"))
wc =  float(input("Enter wc of patient:"))
rc =  float(input("Enter rc of patient:"))
sg_b =  float(input("Enter sg b of patient o or 1:"))
sg_c = float(input("Enter sg c of patient o or 1:"))
sg_d = float(input("Enter sg d of patient o or 1:"))
sg_e = float(input("Enter sg e of patient o or 1:"))
rbc =  float(input("Enter rbc of patient o or 1:"))
pc=  float(input("Enter pc of patient o or 1:"))
pcc =  float(input("Enter pcc of patient o or 1:"))
ba =  float(input("Enter ba of patient o or 1:"))
htn =  float(input("Enter htn of patient o or 1:"))
dm =  float(input("Enter dm of patient o or 1:"))
cad =  float(input("Enter cad of patient o or 1:"))
appet =  float(input("Enter appet of patient o or 1:"))
pe =  float(input("Enter pe of patient o or 1:"))
ane =  float(input("Enter ane of patient o or 1:"))

result = grid.predict([[age, bp, al, su, bgr, bu, sc, sod, pot, hrmo, pcv,wc, rc, sg_b,sg_c,sg_d,sg_e,rbc, pc,pcc,ba,htn,dm,cad,appet,pe,ane]])
print(result)

Enter age of patient:17
Enter bp of patient:60
Enter al of patient:0
Enter su of patient:0
Enter bgr of patient:114
Enter bu of patient:50
Enter sc of patient:1
Enter sod of patient:135
Enter pot of patient:4.9
Enter hrmo of patient:14.2
Enter pcv of patient:51
Enter wc of patient:7200
Enter rc of patient:5.9
Enter sg b of patient o or 1:1
Enter sg c of patient o or 1:0
Enter sg d of patient o or 1:0
Enter sg e of patient o or 1:0
Enter rbc of patient o or 1:1
Enter pc of patient o or 1:1
Enter pcc of patient o or 1:1
Enter ba of patient o or 1:1
Enter htn of patient o or 1:1
Enter dm of patient o or 1:1
Enter cad of patient o or 1:1
Enter appet of patient o or 1:0
Enter pe of patient o or 1:0
Enter ane of patient o or 1:0
[1]

C:\Users\YAS\Anaconda3\lib\site-packages\sklearn\base.py:442: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  "X does not have valid feature names, but"

In [84]:
if result == 1:
    print("Based on inputs the patient may affect in Chronic Kindney Disease ")
else:
    print("Based on inputs the patient may NOT affect in Chronic Kindney Disease ")

Based on inputs the patient may affect in Chronic Kindney Disease